html, body {
}

body {
	background-image: linear-gradient(to bottom right, #50CC50, #5a805a, #50CC50);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #50CC50;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}

.hf-navigation {
    background-color: #50CC50;
}
.hf-navigation li>a {
	color: white !important;
}

.logo {
    width: 120%;
	border: 8px groove;
	border-color: #f5f5bc;
}

.hide {
	display: none;
}

.push-down {
	margin-top: 20px;
}