.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #50CC50;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}

.hf-navigation {
    background-color: #50CC50;
}
.hf-navigation li>a {
	color: white !important;
}

.content-color {
	background-color: #f5f5bc;
}
body {
	font-family: Helvetica, sans-serif;
}
.logo {
    width: 125%;
	border: 2px solid white;
}

.hide {
	display: none;
}

.push-down {
	margin-top: 15px;
}