.hide-link-style {
    text-decoration: none;
    color: black;
}
.hide-link-style:hover {
    color: black;
}
body h1, body h2, body .card {
	font-family: "Georgia", serif;
}

.card {
	height: 100%;
}
