.hide-link-style {
    text-decoration: none;
    color: black;
}
.hide-link-style:hover {
    color: black;
}
body h1, body h2, body .card {
	font-family: "Georgia", serif;
}

h1, h2 {
	color: white;
}

.card {
	height: 100%;
}

.card:hover {
	border: 2px solid;
	border-color: black;
}

.card h4, .card p {
	margin: auto auto;
}